body {
    display: flex;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    background-image: url(./img/pixlr-bg-result.png);
    background-size: 71vh;
    background-position-x: right;
}

body h1 {
    letter-spacing: 7px;
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0071b9;
    text-align: center;
    font-size: 151px;
    margin: 10px;
}

.title {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    body {
        background-size: 40vh;
    }

    body h1 {
        font-size: 10vh;
    }
}