body {
    background: #ECEFF1;
    box-sizing: border-box;
}

body, input {
    font-family: monospace;
}

header {
    display: flex;
    margin: auto;
    justify-content: center;
}

header img, ul {
    margin: 0;
    padding: 0;
}

header form {
    width: 86vh;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    text-align: center;
}

header ul li {
    background: #fff;
    list-style: none;
    font-size: 24px;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    width: 100%;
    margin: 0;
    font-size: 36px;
    padding: 10px;
    color: #1d1d1d;
    border: 5px solid #0071b9;
    border-width: 0 0 5px;
    outline: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

header ul a {
    text-decoration: none;
    color: black;
}

header .title {
    letter-spacing: 3px;
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #0071b9;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    text-decoration: none;
}