body {
    background: #ECEFF1;
    box-sizing: border-box;
}

body, input {
    font-family: monospace;
}

header img, ul {
    margin: 0;
    padding: 0;
}

header form {
    max-width: 750px;
    margin: 50px;
    margin: auto;
}

header ul li {
    background: #fff;
    list-style: none;
    font-size: 24px;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    width: 100%;
    margin: 0;
    font-size: 36px;
    padding: 10px;
    color: #1d1d1d;
    border: 5px solid #0071b9;
    border-width: 0 0 5px;
    outline: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}